
.form_container{
    margin-top: 5rem;
    width:100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.form{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
margin:3rem;
padding:20px 40px;
border-radius:10px;
background:rgba(248, 237, 237, 0.797);
opacity:1;
color:rgba(237, 221, 221, 0.9)
}
.form h1{
    margin-bottom:1rem;
    color:rgba(91, 82, 94, 0.9)
}
.form span{
    color:rgb(118, 28, 28);
    font-size:12px;
    padding:3px;
    display: none;
}
.form input:invalid ~ span{
    display: block
}

.input_container{
    display: flex;
    flex-direction:column;
    margin-bottom: 1rem;
    gap: 1rem;
    padding:0.2rem;
    width:280px
}
.input_container h3{
    color:rgba(91, 82, 94, 0.9)
}

.form_input{
    width: 200px;
    height:40px;
    background-color:rgb(240, 240, 240);
    box-shadow:0px 2px 2px 0px rgba(193, 190, 187, 0.4);
    border-radius:2rem;
    text-align:center;
    border:none;
}

.btn{
    width:100px;
    height:30px;
    background:rgba(186, 234, 236, 0.453);
    border-radius:2rem;
    box-shadow:0px 2px 2px 0px rgba(37, 36, 35, 0.4);
}
.btn:hover{
    background:rgb(226, 247, 248);
    opacity: 0.8;
}

